[batch]
scratch_dir_base=/tmp/
remove_dir=False

[sulrm]
partition=

[aws]
ACCESS_ID=
ACCESS_KEY=
region_name=
instance_type=
image_id=
key_name=
security_group=
username=

[loggers]
keys=root

[handlers]
keys=stream_handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=stream_handler

[handler_stream_handler]
class=StreamHandler
level=DEBUG
formatter=formatter
args=(sys.stderr,)

[formatter_formatter]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s
